body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	
}


.memory-game{
background:linear-gradient(to left,rgba(7,27,82,1)20%,rgba(0,128,128,1)100%);
	margin:auto;
	display: grid;
	
	width:700px;
	height:600px;
	border-radius:20px;

	grid-template-columns:repeat(auto-fit,minMax(150px,1fr));
	grid-template-rows: repeat(auto-fit,minMax(150px,1fr));
}
.memory-card{
	display: grid;
	margin: auto;
	grid-template-columns:repeat(auto-fit,minMax(150px,1fr));
	grid-template-rows: repeat(auto-fit,minMax(150px,1fr));
 transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;

	}

.memory-card:active{
transform: rotateY(180deg);
transition: transform .2s;
}


.back-face{
	
	width:66%;
	height: 67%;
	padding: 20px;
	border-radius: 26px;
position: absolute;

 backface-visibility: hidden;

}
.front-face{
	 backface-visibility: hidden;
	width:50%;
	height: 50%;
	padding: 20px;
	left:0px;
	top:0px;
	position: relative;
	border-radius: 26px;
	transform: rotateY(180deg);

	

}